@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wdth,wght@0,75..125,200..900;1,75..125,200..900&display=swap');

$default-font: "Mona Sans", sans-serif;
$default-weight: 500;
$default-font-size: 16px;
$default-font-stretch: semi-expanded;
$default-line-height: 1.5;
$default-font-color: #454545;

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: $default-font;
    font-optical-sizing: auto;
    font-weight: $default-weight;
    font-size: $default-font-size;
    font-stretch: $default-font-stretch;
    line-height: $default-line-height;
    color: $default-font-color;
}

.mx-auto {
    margin: 0 auto;
}

$inline-paddings: (
    px-1: 4px,
    px-2: 8px,
    px-3: 12px,
    px-4: 16px,
    px-5: 20px,
    px-6: 24px,
    px-7: 28px,
    px-8: 32px,
    px-9: 36px,
    px-10: 40px,
    px-11: 44px,
    px-12: 48px,
);

@each $name, $padding in $inline-paddings {
    .#{$name} {
        padding-inline: $padding;
    }
}

$block-paddings: (
    py-1: 4px,
    py-2: 8px,
    py-3: 12px,
    py-4: 16px,
    py-5: 20px,
    py-6: 24px,
    py-7: 28px,
    py-8: 32px,
    py-9: 36px,
    py-10: 40px,
    py-11: 44px,
    py-12: 48px,
);

@each $name, $padding in $block-paddings {
    .#{$name} {
        padding-block: $padding;
    }
}

$block-margins: (
    my-1: 4px,
    my-2: 8px,
    my-3: 12px,
    my-4: 16px,
    my-5: 20px,
    my-6: 24px,
    my-7: 28px,
    my-8: 32px,
    my-9: 36px,
    my-10: 40px,
    my-11: 44px,
    my-12: 48px,
    my-13: 52px,
    my-14: 56px,
    my-15: 60px,
    my-16: 64px,
    my-17: 68px,
    my-18: 72px,
    my-19: 76px,
    my-20: 80px,
);

@each $name, $margin in $block-margins {
    .#{$name} {
        margin-block: $margin;
    }
}

$border-radii: (
    radius-xs: .125rem,
    radius-sm: .25rem,
    radius-md: .375rem,
    radius-lg: .5rem,
    radius-xl: .75rem,
    radius-2xl: 1rem,
    radius-3xl: 1.5rem,
    radius-4xl: 2rem,
);

@each $name, $radius in $border-radii {
    .#{$name} {
        border-radius: $radius;
    }
}

$text-sizes: (
    text-xs: .75rem,
    text-sm: .875rem,
    text-md: 1rem,
    text-lg: 1.125rem,
    text-xl: 1.25rem,
    text-2xl: 1.5rem,
    text-3xl: 2rem,
    text-4xl: 2.5rem,
    text-5xl: 3rem,
    text-6xl: 3.75rem,
    text-7xl: 4.5rem,
    text-8xl: 6rem,
);

@each $name, $size in $text-sizes {
    .#{$name} {
        font-size: $size;
    }
}

$weights: (
    thin: 100,
    extralight: 200,
    light: 300,
    normal: 400,
    medium: 500,
    semibold: 600,
    bold: 700,
    extrabold: 800,
    boldest: 900,
);

@each $name, $weight in $weights {
    .font-#{$name} {
        font-weight: $weight;
    }
}

html {
    height: 100%;
    background-color: #f2f2f2;
}

header {
    max-width: 1280px;

    > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 64px;

    &__logo {
        svg {
            height: 40px;
            width: auto;

            svg {
                height: 40px;
                width: 40px;
                fill: #00b7db;
            }
        }
    }

    &__nav {
        ul {
            display: flex;
            flex-direction: row;
            gap: 32px;
            list-style: none;

            li {
                a {
                    position: relative;
                    padding: 8px;
                    text-decoration: none;
                    color: $default-font-color;
                    transition: all 0.2s;
                    transition-delay: 0.15s;

                    span:nth-of-type(1) {
                        position: absolute;
                        inset: 0;
                        background-color: #eaeaea;
                        border-radius: 8px;
                        transition: opacity 0.4s;
                        opacity: 0;
                    }

                    span:nth-of-type(2) {
                        position: relative;
                        z-index: 1;
                    }

                    &:hover {
                        color: #333333;

                        span:nth-of-type(1) {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        @media (max-width: 1024px) {
            display: none;
        }
    }
}

.header__buttons {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;

    svg {
        height: 24px;
        width: 24px;
        display: none;

        @media (max-width: 1024px) {
            display: block;
        }
    }

    &--log-in {
        padding-inline: 16px;
        padding-block: 8px;
        border-radius: .5rem;
        border: 1px solid #b8b8b8;
        color: $default-font-color;
        transition: border-color 0.2s ease;

        @media (max-width: 1024px) {
            display: none;
        }

        &:hover {
            border-color: #252525;
        }
    }

    &--download {
        padding-inline: 16px;
        padding-block: 8px;
        border-radius: .5rem;
        font-weight: 600;
        border: none;
        background-color: #2e2e2e;
        color: #dcdcdc;
        transition: background-color 0.2s ease;

        @media (max-width: 1024px) {
            display: none;
        }

        &:hover {
            background-color: black;
        }
    }
}

main {
    width: 100%;

    > div:nth-child(1) {
        width: 100%;
        overflow: hidden;
        padding-block: 10rem;

        .main-container {
            display: flex;
            flex-direction: row;
            position: relative;
            margin: 0 auto;
            max-width: 1280px;
        }
    }
}

.apple-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    border: none;
    background-color: #2e2e2e;
    color: white;
    transition: background-color 0.2s;

    svg {
        height: 40px;
    }

    &:hover {
        background-color: black;
    }
}

.youtube-btn {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 1rem;
    padding-inline: 16px;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    border: 1px solid #b8b8b8;
    color: $default-font-color;
    transition: border-color 0.2s ease;

    svg {
        width:24px;
        height:24px;

        circle {
            transition: stroke 0.2s;
        }

        path {
            transition: fill 0.2s, stroke 0.2s;
        }
    }

    &:hover {
        border-color: #252525;

        svg {
            circle {
                stroke: #252525;
            }

            path {
                fill: #252525;
                stroke: #252525;
            }
        }
    }
}

.description-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    z-index: 1;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 32px;

    h2 {
        color: black;
    }

    &__buttons {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }
}

.community {
    display: flex;
    flex-direction: column;
    gap: 32px;

    span {
        color: black;
    }

    &__images {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 32px;
    }
}

.animation-container {
    width: 50%;
    position: relative;

     > div:nth-child(1) {
        position: absolute;
        width: 1024px;
        height: 1024px;
        top: -10%;
        left: -32%;
        mask-image: linear-gradient(#fff 20%, #0000 75%);

        svg:nth-child(1) {
            width: 100%;
            height: 100%;
            position: absolute;
            inset: 0;
            animation: spin 4s linear infinite;;
        }

        svg:nth-child(2) {
            width: 100%;
            height: 100%;
            position: absolute;
            inset: 0;
            animation: spin-reverse 6s linear infinite;;
        }
    }

    > div:nth-child(2) {
        mask-image: linear-gradient(#fff 60%, #0000);
    }
}

.phone-container {
    aspect-ratio: 366/729;
    max-width: 366px;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    &__shadow-bg {
        position: absolute;
        left: 4px;
        right: 4px;
        top: 1px;
        bottom: 1px;
        border-radius: 68px;
        box-shadow: 0 25px 50px -12px #00000040;
    }

    img {
        pointer-events: none;
        color:transparent;
        position: absolute;
        top: 0;
    }

    &__active-window {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 1px;
        left: 4px;
        right: 4px;
        bottom: 1px;
        background-color: black;
        border-radius: 68px;
        padding-top: 48px;
        padding-inline: 20px;

        > div:first-child {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            padding-block: 24px;

            svg:nth-of-type(1), svg:nth-of-type(3) {
                height: 24px;
                width: 24px;
                flex: none;
            }

            svg:nth-of-type(2) {
                height: 24px;
                flex: none;
            }
        }
    }
}

@keyframes spin {
    100% {
        transform: rotate(1turn);
    }
}

@keyframes spin-reverse {
    100% {
        transform: rotate(-1turn);
    }
}
