@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wdth,wght@0,75..125,200..900;1,75..125,200..900&display=swap');

$default-font: "Mona Sans", sans-serif;
$default-weight: 500;
$default-font-size: 16px;
$default-font-stretch: semi-expanded;
$default-line-height: 1.5;
$default-font-color: #454545;

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: $default-font;
    font-optical-sizing: auto;
    font-weight: $default-weight;
    font-size: $default-font-size;
    font-stretch: $default-font-stretch;
    line-height: $default-line-height;
    color: $default-font-color;
}

.mx-auto {
    margin: 0 auto;
}

$inline-paddings: (
    px-1: 4px,
    px-2: 8px,
    px-3: 12px,
    px-4: 16px,
    px-5: 20px,
    px-6: 24px,
    px-7: 28px,
    px-8: 32px,
    px-9: 36px,
    px-10: 40px,
    px-11: 44px,
    px-12: 48px,
);

@each $name, $padding in $inline-paddings {
    .#{$name} {
        padding-inline: $padding;
    }
}

$block-paddings: (
    py-1: 4px,
    py-2: 8px,
    py-3: 12px,
    py-4: 16px,
    py-5: 20px,
    py-6: 24px,
    py-7: 28px,
    py-8: 32px,
    py-9: 36px,
    py-10: 40px,
    py-11: 44px,
    py-12: 48px,
    py-13: 52px,
    py-14: 56px,
    py-15: 60px,
    py-16: 64px,
    py-17: 68px,
    py-18: 72px,
    py-19: 76px,
    py-20: 80px,
);

@each $name, $padding in $block-paddings {
    .#{$name} {
        padding-block: $padding;
    }
}

$block-margins: (
    my-1: 4px,
    my-2: 8px,
    my-3: 12px,
    my-4: 16px,
    my-5: 20px,
    my-6: 24px,
    my-7: 28px,
    my-8: 32px,
    my-9: 36px,
    my-10: 40px,
    my-11: 44px,
    my-12: 48px,
    my-13: 52px,
    my-14: 56px,
    my-15: 60px,
    my-16: 64px,
    my-17: 68px,
    my-18: 72px,
    my-19: 76px,
    my-20: 80px,
);

@each $name, $margin in $block-margins {
    .#{$name} {
        margin-block: $margin;
    }
}

$border-radii: (
    radius-xs: .125rem,
    radius-sm: .25rem,
    radius-md: .375rem,
    radius-lg: .5rem,
    radius-xl: .75rem,
    radius-2xl: 1rem,
    radius-3xl: 1.5rem,
    radius-4xl: 2rem,
);

@each $name, $radius in $border-radii {
    .#{$name} {
        border-radius: $radius;
    }
}

$text-sizes: (
    text-xs: .75rem,
    text-sm: .875rem,
    text-md: 1rem,
    text-lg: 1.125rem,
    text-xl: 1.25rem,
    text-2xl: 1.5rem,
    text-3xl: 2rem,
    text-4xl: 2.5rem,
    text-5xl: 3rem,
    text-6xl: 3.75rem,
    text-7xl: 4.5rem,
    text-8xl: 6rem,
);

@each $name, $size in $text-sizes {
    .#{$name} {
        font-size: $size;
    }
}

$weights: (
    thin: 100,
    extralight: 200,
    light: 300,
    normal: 400,
    medium: 500,
    semibold: 600,
    bold: 700,
    extrabold: 800,
    boldest: 900,
);

@each $name, $weight in $weights {
    .font-#{$name} {
        font-weight: $weight;
    }
}

html {
    height: 100%;
    background-color: #f2f2f2;
}

header {
    max-width: 1280px;

    > div {
        display: flex;
        justify-content: space-between;
    }
}

.header {
    display: flex;
    align-items: center;
    gap: 64px;

    &__logo {
        svg {
            height: 40px;
            width: auto;

            svg {
                height: 40px;
                width: 40px;
                fill: #00b7db;
            }
        }
    }

    &__nav {
        ul {
            display: flex;
            gap: 32px;
            list-style: none;

            li {
                a {
                    position: relative;
                    padding: 8px;
                    text-decoration: none;
                    color: $default-font-color;
                    transition: background-color 0.2s, opacity 0.2s;
                    transition-delay: 0.15s;

                    span:nth-of-type(1) {
                        position: absolute;
                        inset: 0;
                        background-color: #eaeaea;
                        border-radius: 8px;
                        transition: opacity 0.4s;
                        opacity: 0;
                    }

                    span:nth-of-type(2) {
                        position: relative;
                    }

                    &:hover {
                        color: #333333;

                        span:nth-of-type(1) {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        @media (max-width: 1024px) {
            display: none;
        }
    }
}

.header__buttons {
    display: flex;
    gap: 16px;
    align-items: center;

    svg {
        height: 24px;
        width: 24px;
        display: none;

        @media (max-width: 1024px) {
            display: block;
        }
    }

    &--log-in {
        padding-inline: 16px;
        padding-block: 8px;
        border-radius: .5rem;
        border: 1px solid #b8b8b8;
        color: $default-font-color;
        transition: border-color 0.2s ease;

        @media (max-width: 1024px) {
            display: none;
        }

        &:hover {
            border-color: #252525;
        }
    }

    &--download {
        padding-inline: 16px;
        padding-block: 8px;
        border-radius: .5rem;
        font-weight: 600;
        border: none;
        background-color: #2e2e2e;
        color: #dcdcdc;
        transition: background-color 0.2s ease;

        @media (max-width: 1024px) {
            display: none;
        }

        &:hover {
            background-color: black;
        }
    }
}

main {
    width: 100%;
}

.description-section {
    width: 100%;
    overflow: hidden;
    padding-block: 10rem;

    > div:first-child {
        display: flex;
        margin: 0 auto;
        max-width: 1280px;
        padding-inline: 16px;
    }
}

.apple-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    border: none;
    background-color: #2e2e2e;
    color: white;
    transition: background-color 0.2s;

    svg {
        height: 40px;
    }

    &:hover {
        background-color: black;
    }
}

.youtube-btn {
    display: flex;
    gap: 8px;
    font-size: 1rem;
    padding-inline: 16px;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    border: 1px solid #b8b8b8;
    color: $default-font-color;
    transition: border-color 0.2s ease;

    svg {
        width:24px;
        height:24px;

        circle {
            transition: stroke 0.2s;
        }

        path {
            transition: fill 0.2s, stroke 0.2s;
        }
    }

    &:hover {
        border-color: #252525;

        svg {
            circle {
                stroke: #252525;
            }

            path {
                fill: #252525;
                stroke: #252525;
            }
        }
    }
}

.description-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    z-index: 1;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 32px;

    h2 {
        color: black;
    }

    &__buttons {
        display: flex;
        gap: 16px;
    }
}

.community {
    display: flex;
    flex-direction: column;
    gap: 32px;

    span {
        color: black;
    }

    &__images {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 32px;
    }
}

.animation-container {
    width: 50%;
    position: relative;
    height: 481px;

     > div:nth-child(1) {
        position: absolute;
        width: 1024px;
        height: 1024px;
        top: -10%;
        left: -32%;
        mask-image: linear-gradient(#fff 20%, #0000 75%);

        svg:nth-child(1) {
            width: 100%;
            height: 100%;
            position: absolute;
            inset: 0;
            animation: spin 4s linear infinite;;
        }

        svg:nth-child(2) {
            width: 100%;
            height: 100%;
            position: absolute;
            inset: 0;
            animation: spin-reverse 6s linear infinite;;
        }
    }

    > div:nth-child(2) {
        mask-image: linear-gradient(#fff 60%, #0000);
    }
}

.phone-container {
    aspect-ratio: 366/729;
    max-width: 366px;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    &__shadow-bg {
        position: absolute;
        left: 4px;
        right: 4px;
        top: 1px;
        bottom: 1px;
        border-radius: 68px;
        box-shadow: 0 25px 50px -12px #00000040;
    }

    img {
        pointer-events: none;
        color:transparent;
        position: absolute;
        top: 0;
    }

    &__active-window {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 1px;
        left: 4px;
        right: 4px;
        bottom: 1px;
        background-color: black;
        border-radius: 68px;
        padding-top: 48px;
        padding-inline: 20px;

        > div:first-child {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 24px 16px;

            svg:nth-of-type(1), svg:nth-of-type(3) {
                height: 24px;
                width: 24px;
                flex: none;
            }

            svg:nth-of-type(2) {
                height: 24px;
                flex: none;
            }
        }

        > div:nth-of-type(2) {
            background-color: white;
            height: 100%;
            border-radius: 16px;
            padding: 24px 16px;
        }
    }
}

@keyframes spin {
    100% {
        transform: rotate(1turn);
    }
}

@keyframes spin-reverse {
    100% {
        transform: rotate(-1turn);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes vertical-translate {
    0% {
        transform: translateY(0%);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translateY(-50%);
        opacity: 0;
    }
}

.phone-menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > div:first-child {
        display: flex;
        align-items: baseline;
        justify-content: center;
        gap: 16px;
    }

    svg {
        width: 24px;
        height: 24px;
    }
}

.phone-menu {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(184, 184, 184, 0.4);
    padding-top: 16px;
    margin-top: 16px;
    mask-image: linear-gradient(#fff 40%, #0000 125%);
    gap: 16px;

    > div:first-child {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        > div:first-child {
            align-items: baseline;
            display: flex;
            gap: 16px;
        }

        > span:nth-of-type(1) {
            color: #00b7db;
        }
    }

    > div:nth-of-type(2) {
        display: flex;
        gap: 8px;
    }

    > div:nth-of-type(3) {
        border: 1px solid rgba(184, 184, 184, 0.4);
        border-radius: 16px;

        svg {
            overflow: visible;
        }
    }

    > div:nth-of-type(4) {
        button {
            width: 100%;
            padding: 8px;
            border: none;
            background-color: #00b7db;
            border-radius: 8px;
            color: white;
        }
    }

    > div:nth-of-type(5), > div:nth-of-type(6) {
        display: flex;
        justify-content: space-between;
    }
}

.feature-section {
    width: 100%;
    background-color: #171717;

    &__container {
        height: 100%;
        max-width: 1280px;
        margin: 0 auto;
        padding-inline: 16px;
    }

    &__description {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        color: white;

        p {
            color: #a1a19d;
            line-height: 1.8;
        }
    }

    &__details {
        display: flex;
        margin-top: 64px;

        > div:first-child {
            display: flex;
            width: 50%;
            position: relative;
        }
    }
}

.spin-container {
    position: absolute;
    inset: 0;
    top: 15%;

    svg {
        width: 100%;
        animation: spin 5s linear infinite;
    }
}

.feature-phone {
    display: flex;
    position: relative;
    width: 366px;
    margin: 0 auto;
    z-index: 1;
    aspect-ratio: 366/729;

    img {
        position: absolute;
    }

    &__background {
        position: absolute;
        background-color: black;
        height: 720px;
        top: 1px;
        bottom: 1px;
        left: 4px;
        right: 4px;
        border-radius: 68px;
    }

    &__menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 1px;
        left: 4px;
        right: 4px;
        bottom: 1px;
        padding-top: 48px;
        padding-inline: 20px;
        height: 720px;

        > div:first-child {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-inline: 16px;
            padding-top: 24px;

            svg:nth-of-type(1), svg:nth-of-type(3) {
                width: 24px;
                height: 24px;
                flex: none;
            }

            svg:nth-of-type(2) {
                height: 24px;
                flex: none;
            }
        }

        .menu-header {
            display: flex;
            flex-direction: column;
            margin-top: 24px;
            padding-inline: 16px;

            h2 {
                color: white;
            }

            p {
                color: #a1a19d;

                span {
                    color: white;
                }
            }
        }

        .menu {
            display: flex;
            flex-direction: column;
            margin-top: 24px;
            padding-inline: 16px;
            border-radius: 16px;
            background-color: white;
            height: 100%;

            div {
                display: flex;
                flex-direction: column;
                padding-top: 16px;
                gap: 16px;
                color: black;

                > span:nth-of-type(1) {
                    color: #a1a19d;
                }

                > span:nth-of-type(3) {
                    background-color: #a1a19d;
                    height: 1px;
                }
            }

            button {
                margin-top: 16px;
                border: none;
                background-color: #00b7db;
                border-radius: 8px;
                padding: 8px;
                color: white;
            }
        }
    }
}

.feature-list {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 16px;

    div {
        display: flex;
        flex-direction: column;
        gap: 16px;
        color: #a1a19d;
        border-radius: 16px;
        padding: 32px;

        svg {
            width: 32px;
            height: 32px;
        }

        h2 {
            color: white;
        }
    }

    div:nth-of-type(1) {
        background-color: #2e2e2e;
    }

    div:nth-of-type(2), div:nth-of-type(3) {
        transition: background-color 0.2s;

        &:hover {
            background-color: #1b1b1b;
        }
    }
}

.portfolio-container {
    max-width: 1280px;
    margin: 0 auto;
    padding-inline: 16px;

    > div:first-child {
        display: flex;
        flex-direction: column;
        gap: 16px;
        text-align: center;

        > div:nth-of-type(1) {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        h2 {
            color: black;
        }
    }
}

.portfolio-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
    margin-top: 64px;

    div {
        display: flex;
        flex-direction: column;
        gap: 16px;
        border-radius: 16px;
        border: 1px solid #b8b8b8;
        padding: 32px;

        svg {
            height: 32px;
            width: 32px;
        }
    }
}

.download-app-section {
    background-color: #171717;
    height: 456px;
    overflow: hidden;
}

.download-app-container {
    max-width: 1280px;
    height: 456px;
    margin: 0 auto;
    padding-inline: 16px;
    color: #a1a19d;
}

.download-app-content {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 558px;
    margin: 0 auto;
    position: relative;
    height: 456px;

    > div:first-child {
        position: absolute;
        top: -40px;

        svg {
            animation: spin 5s linear infinite;
        }
    }

    .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
        padding: 64px 32px;

        h2 {
            color: white;
        }

        p {
            text-align: center;
        }

        button {
            border: none;
            border-radius: 8px;

            svg {
                height: 40px;
            }
        }
    }
}

.feedback-container {
    max-width: 1280px;
    margin: 0 auto;
    padding-inline: 16px;
    padding-block: 64px;
    color: $default-font-color;

    > div:first-child {
        display: flex;
        flex-direction: column;
        gap: 16px;
        text-align: center;

        h2 {
            color: black;
        }
    }

    .feedbacks {
        display: flex;
        margin-top: 64px;
        gap: 16px;
        max-height: 150vh;
        height: 50rem;
        overflow: hidden;
        color: black;
        mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);

        > div:nth-of-type(1), div:nth-of-type(2), div:nth-of-type(3) {
            display: flex;
            flex-direction: column;
            gap: 32px;
            padding: 8px;

            figure {
                padding: 32px;
                border-radius: 8px;
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
                animation: fade-in 1s linear forwards;
                opacity: 0;

                blockquote {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;

                    span:before {
                        content: "“";
                    }
                    span:after {
                        content: "”";
                    }
                }

                figcaption {
                    margin-top: 24px;
                    color: $default-font-color;
                }

                figcaption:before {
                    content: "– ";
                }
            }

            figure:nth-of-type(1) {
                animation-delay: 1.4s;
            }

            figure:nth-of-type(2) {
                animation-delay: 1s;
            }

            figure:nth-of-type(3) {
                animation-delay: 0.8s;
            }

            figure:nth-of-type(4) {
                animation-delay: 0.6s;
            }
        }

        > div:nth-of-type(1), div:nth-of-type(3) {
            animation: vertical-translate 13s linear infinite;
        }

        > div:nth-of-type(2) {
            animation: vertical-translate 17s linear infinite;
        }

        > div:nth-of-type(3) {
            animation-delay: 1s;
        }
    }
}

.pricing {
    max-width: 1280px;
    margin: 0 auto;
    padding-inline: 16px;
    padding-block: 64px;
    color: $default-font-color;

    &__heading {
        display: flex;
        flex-direction: column;
        max-width: 700px;
        margin: 0 auto;
        gap: 24px;
        text-align: center;

        h2 {
            color: black;
        }

        div {
            span {
                border: 1px solid rgba(69, 69, 69, 0.5);
                padding: 8px;
            }

            > span:nth-of-type(1) {
                border-bottom-left-radius: 8px;
                border-top-left-radius: 8px;
                border-right: none;
                background-color: #00b7db;
                color: white;
            }

            > span:nth-of-type(2) {
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
                border-left: none;
                margin-left: -4px;
            }
        }
    }

    &__content {
        margin-top: 64px;
        display: flex;
        align-items: flex-start;
        gap: 32px;
        width: 100%;
        color: $default-font-color;

        .card {
            display: flex;
            flex-direction: column;
            gap: 32px;
            border-radius: 16px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            padding: 24px;
            width: 100%;

            > div:first-child {
                display: flex;
                gap: 8px;
                align-items: center;

                svg {
                    height: 24px;
                    width: 24px;
                }

                .grey {
                    fill: #d4d4d4;
                }

                .more-grey {
                    fill: #8e8e8e;
                }

                .light-blue {
                    fill: #00b7db;
                }
            }

            > div:nth-of-type(2) {
                display: flex;
                flex-direction: column;
                gap: 16px;

                h2 {
                    color: black;
                }

                button {
                    border: none;
                    border-radius: 8px;
                    padding: 12px;
                    background-color: #262626;
                    color: white;
                }
            }

            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 8px;

                li {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    div {
                        display: flex;
                        align-items: center;
                        gap: 16px
                    }

                    svg {
                        height: 24px;
                        width: 24px;
                        flex: none;
                        color: #00b7db;
                    }

                    > span:nth-of-type(1) {
                        background-color: rgba(69, 69, 69, 0.2);
                        height: 1px;
                    }
                }
            }
        }

        > div:nth-of-type(3) {
            background-color: #171717;
            color: white;

            > div:nth-of-type(2) {
                h2 {
                    color: white;
                }

                button {
                    background-color: #00b7db;
                }
            }

            ul {
                li {
                    svg {
                        color: white;
                    }
                }
            }
        }
    }
}
